.container {
    width: 0 auto;
    margin: 0 30px;
    outline: solid 1px black;
  }

  .home {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .home_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 230px;
    background-color: white;
  }

 
  .home_row > * {
    flex: 1;
  }
  @media (max-width: 378px) {
    .off {
      display: none;
    }
  }
  